/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "PokemonGB";

  src: url("./fonts/PokemonGB.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/PokemonGB.woff") format("woff"), /* Modern Browsers */
    url("./fonts/PokemonGB.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}