<app-trainer-summary [trainer]="trainer"></app-trainer-summary>

<div class="row justify-content-center my-4">
  <h3 class="text-center btn-block">Your pokemon</h3>
  <div *ngIf="pokemonList.length <= 0" class="lead">Capture pokemon by checking out the catalogue</div>

  <div *ngFor="let pokemon of pokemonList" class="col-6 col-md-3 col-lg-2">
    <div class="card">
      <img [src]="pokemon.sprite" width="100%">
      <div class="card-body py-1">
        <span class="text-capitalize">{{pokemon.name}}</span>
      </div>
      <button (click)="releasePokemon(pokemon)" class="btn btn-secondary btn-block">Release</button>
    </div>
  </div>
</div>
