<h1>Pokedex</h1>
<p class="lead">Check out all these pokemon</p>
<ngb-pagination
  [disabled]="loading"
  [collectionSize]="totalItems"
  [pageSize]="20"
  [(page)]="page"
  [maxSize]="5"
  rotate
  (pageChange)="loadPage()">
</ngb-pagination>

<div class="row justify-content-start">
  <div class="col-6 col-sm-6 col-md-3 pokemon-col" *ngFor="let mon of pokemon">
    <div class="">
      <img [src]="mon.sprite" width="100%" class="pokemon-image" [routerLink]="'/details/' + mon.id">
      <div class="card-body">
        <p class="text-muted text-secondary">#{{mon.id}}</p>
        <p class="pokemon-name">{{mon.name}}</p>
        <div class="badge badge-dark type-badge" *ngFor="let type of mon.types">{{type}}</div>
      </div>
    </div>
  </div>
</div>

<ngb-pagination
  [disabled]="loading"
  [collectionSize]="totalItems"
  [pageSize]="20"
  [(page)]="page"
  [maxSize]="5"
  rotate
  (pageChange)="loadPage()">
</ngb-pagination>
