.pokemon-col {
  padding: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .card-body{
    padding-top: 8px;
  }
  p{
    margin-bottom: 3px;
  }
}
.pokemon-image{
  background-color: #F2F2F2;
  border-radius: 5px;
}
.pokemon-name{
  text-transform: capitalize;
  font-size: 1.5em;
}
.type-badge{
  padding: 8px;
  margin-right: 8px;
  text-transform: capitalize;
}
