<div class="row justify-content-center">

  <div class="col col-md-7 col-lg-5" style="padding: 0">
    <div class="card content">
      <div id="card-header"><img src="assets/img/card-header.png"></div>
      <div id="card-body" class="card-body">
        <img id="card-bg-icon" src="assets/img/bgicon.png">
        <img id="trainer-image" [src]="trainer.image">

        <ul class="card-list mb-4">
          <li><span id="trainer-name">NAME: {{trainer.name.toUpperCase()}}</span></li>
        </ul>

        <ul class="card-list">
          <li><p>MONEY: 999999</p></li>
          <li><p>POKéMON: {{trainer.pokemon.length}}</p></li>
          <li><p>TIME: 55:45</p></li>
        </ul>

      </div>
      <div id="card-footer"><img src="assets/img/card-footer.png"></div>
    </div>
  </div>
</div>
