.content {
  font-family: PokemonGB, monospace;
  background-image: linear-gradient(0deg, #e0f0f0 25%, #f8f8f8 25%, #f8f8f8 50%, #e0f0f0 50%, #e0f0f0 75%, #f8f8f8 75%, #f8f8f8 100%);
  background-size: 12.00px 12.00px;
  border: 4px solid #606070;
  border-radius: 15px;
}

#card-image {
  width: 100%;
}

#card-header {
  padding: 0 20px;
  margin-top: 10px;
  background-color: #68a0d8;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

#card-body {
  position: relative;
  min-height: 180px;

  #card-bg-icon {
    position: absolute;
    width: 35%;
    right: 0;
    bottom: 0;
  }

  #trainer-image {
    position: absolute;
    height: 75%;
    right: 0;
    bottom: 5%;
  }

  #trainer-name {
    display: inline-block;
    padding: 0 10px;
    margin-left: -10px;
    margin-bottom: -4px; // prevent border from pushing text up
    border-bottom: 4px solid #c0d0e0;
  }
}
$bullet-size: 17px;
.card-list{
  margin: 0;
  padding: 0;
  li{
    margin: 0;
    padding-left: $bullet-size + 10;
    //padding: 36px 0 36px 84px;
    list-style: none;
    background-image: url("../../../assets/img/bullet.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: $bullet-size;
  }
}

#card-footer {
  margin-bottom: 15px;
  background-color: #68a0d8;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
