<nav class="navbar navbar-light navbar-expand-md">
  <a [routerLink]="'/'" class="navbar-brand" href="#"><h4 ><span class="text-red">Pokemon</span>Trainer</h4></a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a [routerLink]="'/'" class="nav-link">Home</a></li>
      <li class="nav-item"><a [routerLink]="'/catalogue'" class="nav-link">Catalogue</a></li>
    </ul>
    <button (click)="logOut()" class="btn btn-outline-success my-2 my-sm-0">Log out</button>
  </div>
</nav>

<div class="container" id="body-wrap">
  <router-outlet></router-outlet>
</div>
