<div id="pokemon-details">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-9 mb-5">
      <button (click)="goBack()" class="btn has-icon"><ion-icon name="arrow-back-outline"></ion-icon>Go back</button>
    </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="row justify-content-center">
          <img [src]="pokemon.sprite" width="100%" class="pokemon-image" [routerLink]="'/details/' + pokemon.id">
        </div>
        <div class="row justify-content-center">
          <span class="text-muted pokemon-id m-2">#{{pokemon.id}}</span>
          <span class="pokemon-name m-2">{{pokemon.name}}</span>
          <div class="m-2">
            <div class="badge badge-dark pkmn-badge m-1" *ngFor="let type of pokemon.types">{{type}}</div>
          </div>
        </div>

        <button (click)="capturePokemon()" class="btn btn-primary btn-block">Capture</button>
      </div>

      <div id="details" class="col col-md-6 col-lg-4">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">

          <li [ngbNavItem]="1">
            <a ngbNavLink>Stats</a>
            <ng-template ngbNavContent>
              <table>
                <tr class="detail">
                  <td><span class="badge badge-success pkmn-badge">HP</span></td>
                  <td><p>{{pokemon.stats.hp}}</p></td>
                </tr>
                <tr class="detail">
                  <td><span class="badge badge-warning pkmn-badge">Speed</span></td>
                  <td><p>{{pokemon.stats.speed}}</p></td>
                </tr>
                <tr class="detail">
                  <td><span class="badge badge-danger pkmn-badge">Attack</span></td>
                  <td><p>{{pokemon.stats.attack}}</p></td>
                </tr>
                <tr class="detail">
                  <td><span class="badge badge-primary pkmn-badge">Defense</span></td>
                  <td><p>{{pokemon.stats.defense}}</p></td>
                </tr>
                <tr class="detail">
                  <td><span class="badge badge-orange pkmn-badge">Sp. Attack</span></td>
                  <td><p>{{pokemon.stats["special-attack"]}}</p></td>
                </tr>
                <tr class="detail">
                  <td><span class="badge badge-info pkmn-badge">Sp. Defense</span></td>
                  <td><p>{{pokemon.stats["special-defense"]}}</p></td>
                </tr>
              </table>
            </ng-template>
          </li>

          <li [ngbNavItem]="2">
            <a ngbNavLink>Profile</a>
            <ng-template ngbNavContent>
              <p class="detail"><span class="badge badge-secondary pkmn-badge">Height:</span> {{pokemon.height}} m</p>
              <p class="detail"><span class="badge badge-secondary pkmn-badge">Weight</span> {{pokemon.weight}} kg</p>
              <p class="detail"><span class="badge badge-secondary pkmn-badge">BaseXp</span> {{pokemon.base_experience}}</p>
              <strong>Abilities:</strong>
              <ul class="detail">
                <li *ngFor="let ability of pokemon.abilities" class="text-capitalize">{{ability.name}} <b *ngIf="ability.hidden">(hidden)</b></li>
              </ul>
            </ng-template>
          </li>

          <li [ngbNavItem]="3">
            <a ngbNavLink>Moves</a>
            <ng-template ngbNavContent>
              <form>
                <div class="form-group form-inline">
                  <input class="form-control ml-2" type="text" [formControl]="filter" placeholder="Search"/>
                </div>
              </form>
              <table>
                <tr *ngFor="let move of moves | async" class="detail text-capitalize">
                  <td><ngb-highlight [result]="move" [term]="filter.value"></ngb-highlight></td>
                </tr>
              </table>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2 row ml-2" ></div>
      </div>




  </div>


</div>
