
#pokemon-details {
  padding: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.pokemon-image{
  background-color: #F2F2F2;
  border-radius: 5px;
  max-width: 300px;
}
.pokemon-name, .pokemon-id {
  text-transform: capitalize;
  font-size: 1.5em;
}
.pkmn-badge{
  padding: 8px;
  margin-right: 8px;
  text-transform: capitalize;
}

#details{
  margin-top: 1rem;
}
.detail {
  font-size: 1.1em;
  td{
    padding: .3em;
  }
  p{
    margin: 0;
  }
}
.badge-orange{
  background-color: orangered;
  color: white;
}
