.trainer-list > *{
  transition-duration: 0.15s;
  transition-property: background-color,border-color,box-shadow,color;
  transition-timing-function: ease-in;
}

#login-wrap{
  position: relative;
  z-index: 4;
}

.big > * {
  height: 50px!important;
  width: 50px!important;
}

@media only screen and (min-width: 768px) {
  #login-wrap{
    width: 400px;
  }
  #login-page{
     display: flex;
     justify-content: center;
     align-items: center;
   }

}
