<div id="login-page">
  <app-background-image></app-background-image>
  <div id="login-wrap">
    <div class="card shadow">
      <div class="card-header">
        Select a trainer
      </div>

      <div class="list-group trainer-list">
        <button *ngFor="let trainer of trainers | keyvalue" (click)="selectTrainer(trainer.value)" class="list-group-item list-group-item-action">
          <div class="row">
            <img alt="trainer icon" [src]="trainer.value.image">
            <div class="d-flex flex-column justify-content-center ml-3">
              <span>{{trainer.value.name}}</span>
              <small class="text-muted">{{ 'Pokemon: ' + trainer.value.pokemon.length }}</small>
            </div>
          </div>
        </button>
      </div>

      <button class="btn btn-primary btn-lg has-icon" [routerLink]="'/create'">
        <ion-icon name="add-outline"></ion-icon>
        Create new
      </button>
    </div>
  </div>
</div>
