/* You can add global styles to this file, and also import other style files */


@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
//$primary: #ef07f5;
// Customize theme colors here!
$theme-colors:
    (
      primary:    $primary,
      secondary:  $secondary,
      success:    $success,
      info:       $info,
      warning:    $warning,
      danger:     $danger,
      light:      $light,
      dark:       $dark
);
$enable-responsive-font-sizes: true;
$enable-shadows: true;

@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "PokemonGB";
  src: url("assets/fonts/PokemonGB.ttf") format("truetype"), /* Safari, Android, iOS */
  url("assets/fonts/PokemonGB.woff") format("woff"), /* Modern Browsers */
  url("assets/fonts/PokemonGB.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Icon buttons */
/*

.big > svg, .big {
  height: 1.5em!important;
  width: 1.5em!important;
}*/
:root {
  --ionicon-stroke-width: 54px;
}
.has-icon{
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}
ion-icon{
  margin-right: 5px;
}

