<div id="create-page">
  <app-background-image></app-background-image>
  <div id="create-wrap">
    <div class="card shadow">
      <div class="card-header">
        Create a trainer
      </div>
      <div class="card-body">

        <form #trainerForm="ngForm" (ngSubmit)="createTrainer()">
          <input [(ngModel)]="trainer.name" #name="ngModel" name="trainerName" required [ngClass]="{'border-danger': name.invalid && name.touched}" class="form-control" type="text" placeholder="name">

          <div #horizontalScroller class="horizontal-scroller" style="">
            <div [(ngModel)]="trainer.image" #trainerImage="ngModel" ngbRadioGroup name="trainerImage" required class="btn-group btn-group-toggle">
              <label class="btn-outline-light" ngbButtonLabel *ngFor="let image of trainerImages" [ngClass]="{'border-danger': trainerImage.invalid && trainerImage.touched}">
                <input type="radio" [value]="image" ngbButton>
                <img alt="trainer image" [src]="image">
              </label>
            </div>
            <button type="button" id="scroller-left-btn" class="btn scroller-btn shadow-none" (click)="scrollLeft()"><ion-icon name="chevron-back-outline"></ion-icon></button>
            <button type="button" id="scroller-right-btn" class="btn scroller-btn shadow-none" (click)="scrollRight()"><ion-icon name="chevron-forward-outline"></ion-icon></button>
          </div>

          <div>
            <button [routerLink]="'/login'" type="button" class="btn has-icon btn-secondary"><ion-icon name="arrow-back-outline"></ion-icon>Go back</button>
            <button type="submit" class="btn has-icon btn-primary float-right"><ion-icon name="add-outline"></ion-icon> Create</button>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div id="oak-menu">
    <img alt="text bubble" id="text-bubble" src="assets/img/text-bubble.png"/>
    <img alt="prof. oak" id="oak" src="assets/img/oak.png"/>
    <strong id="text-bubble-text">Tell me about yourself</strong>
  </div>
</div>
