#create-wrap{
   position: relative;
   z-index: 4;
 }
#oak-menu{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 2em;
}
#oak{
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 50vh;
  z-index: 4;
}
#text-bubble{
  bottom: 5%;
  left: 40%;
  height: 9vh;
  z-index: 6;
}
#text-bubble-text{
  bottom: 6%;
  position: absolute;
  font-family: monospace;
  font-size: larger;
  z-index: 8;
}

/*
 * Horizontal scroller
 */

.horizontal-scroller{
  margin: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.btn-outline-light:not(:disabled):not(.disabled).active{
  background-color: #e5e5e5;
}
.scroller-btn{
  //background-color: rgba(0, 0, 0, .3);
  color: #6c757d;
  height: 77px;
  width: 1em;
  position: absolute;
  border: none;
  outline: none;
  padding: 0;
  font-size: 2em;
  display: inline-flex;
  align-items: center;
  z-index: 8;
  transition: .15s background-color, color ease-in;
}
.scroller-btn:hover {
  background-color: rgba(0, 0, 0, .05);
}
#scroller-left-btn{
  left: 0;
  margin-left: 10px;
}
#scroller-right-btn{
  right: 0;
  margin-right: 10px;
}
#scroller-left-btn > ion-icon{
  justify-self: right;
  font-size: 2em;
  width: 1em;
  margin: 0;
}
#scroller-right-btn > ion-icon{
  justify-self: left;
  font-size: 2em;
  width: 1em;
  margin: 0;
}
.scroller-btn-edge{
  color: lightgray;
}

@media only screen and (min-width: 768px) {
  #create-wrap{
    width: 400px;
  }
  #create-page{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
